body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

header {
  padding: 20px;
  background: #020617;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

button {
  background: #3b82f6;
  border: none;
  padding: 15px 30px;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.card {
  background: #1e293b;
  padding: 30px;
  border-radius: 10px;
}

.ad-box {
  background: #334155;
  padding: 40px;
  text-align: center;
}

.price-card {
  text-align: center;
  padding: 40px;
}
